.navbar{
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent) ;
}

.navbar-colorchange{
    background-color: rgb(20, 20, 20);
}

.nav-icon{
  color: white;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.item-remove {
  display: none;
}

.LoginScreen_gradient{
  background: rgba(0,0,0,.5);
  background-image: linear-gradient(0deg,transparent 50%,rgba(0,0,0,.7)),radial-gradient(50% 100%,transparent 0,rgba(0,0,0,.7) 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

